.error-message {
    color: red;
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 15px;
    font-family: "Inter";
    display: block;
}

.error-message:last-of-type {
    padding-bottom: 33px;
}