.about-container__image {
    background-image: url(../../../images/gretha-avatar.png);
    height: calc(100vw/3);
    width: calc(100vw/3);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
}