@import url(./__button/mobile-menu__button.css);
@import url(./__auth/mobile-menu__auth.css);
@import url(./__content/mobile-menu__content.css);

.mobile-menu {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    top: 56px;
    z-index: 4;
}

@media screen and (min-width: 551px) {
    .mobile-menu {
        display: none;
    }
}
