@import url(./_no-button/cards-container__grid_no-button.css);
@import url(./_with-button/cards-container__grid_with-button.css);

.cards-container__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 400px);
    grid-gap: 16px 16px;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .cards-container__grid {
        grid-gap: 8px 8px;
        grid-template-columns: repeat(auto-fill, 224px);
    }
}

@media screen and (max-width: 320px) {
    .cards-container__grid {
        grid-gap: 8px 8px;
        grid-template-columns: repeat(auto-fill, 288px);
    }
}