@import url(./_larger-margin/footer__link_larger-margin.css);
@import url(./_general-margin/footer__link_general-margin.css);

.footer__link {
    color: #000;
    text-decoration: none;
    display: flex;
    align-items: center;
}



