  <!DOCTYPE html>
  <html lang="ru">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/x-icon" href="<%=htmlWebpackPlugin.files.favicon%>">
    <title>Главная страница</title>
  </head>

  <body>
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css %>">

    <!-- Мобильный попап входа -->


    <!-- Мобильный попап регистрации -->
    



    <!-- Хэдер -->
    <div class="header-container">
      <img alt="Фон" src="<%=require('../images/mainPage-background.png')%>" class="background-image">

      <!-- Поиск -->
      <div class="search-container">
        <h1 class="search-container__title">Что в мире творится?</h1>
        <p class="search-container__subtitle">Находите самые свежие статьи на любую тему и сохраняйте в своём личном кабинете.</p>
        <div class="search">
          <input required class="search__field" name="search" placeholder="Введите тему новостей">
          <span style="display: none;" id='error-search' class='error-message'>awdawd</span>
          <button class="search__button" for="search" type="submit">Искать</button>
        </div>
      </div>

    </div>

    <!-- Основаня часть -->
    <div class="body">

      <!-- Контейнер с карточками -->
      <div class="cards-container">
        <h3 class="cards-container__title">Результаты поиска</h3>
        <div class="cards-container__grid cards-container__grid_with-button">

          <!-- Первая карточка собрана -->
          <div class="card">

            <!-- Когда вошел, надо убирать появление сообщения и делать кнопку не disabled -->
            <input disabled type="checkbox" class="save-checkbox save-checkbox_add" id="checkbox{n}">
            <label for="checkbox{n}" class="save-checkbox__lable"></label>
            <div class="save-checkbox__message save-checkbox__message_show">Войдите, чтобы сохранить</div>

            <img class="card__image" src="<%=require('../images/1.png')%>" alt="Изображение новости">
            <p class="card__date">2 августа, 2019</p>
            <h3 class="card__title">Национальное достояние – парки</h3>
            <p class="card__text">В 2016 году Америка отмечала важный юбилей: сто лет назад здесь начала складываться система национальных парков – охраняемых территорий, где и сегодня каждый может приобщиться к природе.</p>
            <p class="card__source">ЛЕНТА.РУ</p>

          </div>

          <div class="card">

            <!-- Когда вошел, надо убирать появление сообщения и делать кнопку не disabled -->
            <input disabled type="checkbox" class="save-checkbox save-checkbox_add" id="checkbox{й}">
            <label for="checkbox{й}" class="save-checkbox__lable"></label>
            <div class="save-checkbox__message save-checkbox__message_show">Войдите, чтобы сохранить</div>

            <img class="card__image" src="<%=require('../images/1.png')%>" alt="Изображение новости">
            <p class="card__date">2 августа, 2019</p>
            <h3 class="card__title">Национальное достояние – парки</h3>
            <p class="card__text">В 2016 году Америка отмечала важный юбилей: сто лет назад здесь начала складываться система национальных парков – охраняемых территорий, где и сегодня каждый может приобщиться к природе.</p>
            <p class="card__source">ЛЕНТА.РУ</p>

          </div>

          <div class="card">

            <!-- Когда вошел, надо убирать появление сообщения и делать кнопку не disabled -->
            <input disabled type="checkbox" class="save-checkbox save-checkbox_add" id="checkbox{ц}">
            <label for="checkbox{ц}" class="save-checkbox__lable"></label>
            <div class="save-checkbox__message save-checkbox__message_show">Войдите, чтобы сохранить</div>

            <img class="card__image" src="<%=require('../images/1.png')%>" alt="Изображение новости">
            <p class="card__date">2 августа, 2019</p>
            <h3 class="card__title">Национальное достояние – парки</h3>
            <p class="card__text">В 2016 году Америка отмечала важный юбилей: сто лет назад здесь начала складываться система национальных парков – охраняемых территорий, где и сегодня каждый может приобщиться к природе.</p>
            <p class="card__source">ЛЕНТА.РУ</p>

          </div>


        </div>
        <button class="cards-container__button">Показать еще</button>
      </div>

      <!-- Контейнер с прелоадером -->
      <div style="display: none;" class="preloader-container">
        <i class="circle-preloader"></i>
        <p class="preloader-container__title">Идет поиск новостей...</p>
      </div>

      <!-- Контейнер, когда ничего не найдено -->
      <div style="display: none;" class="not-found-container">
        <img src="<%=require('../images/not-found_v1.png')%>" alt="Ничего не было найдено">
        <h4 class="not-found-container__title">Ничего не найдено</h4>
        <p class="not-found-container__subtitle">К сожалению по вашему запросу ничего не найдено.</p>
      </div>


      <!-- Контейнер с информацией о пользователе -->
      <div class="about-container">
        <div class="about-container__image-wrapper">
          <div class="about-container__image"></div>
        </div>
        <div class="about-container__text">
          <h2 class="about-container__title">Об авторе</h2>
          <p class="about-container__subtitle">
            Это блок с описанием автора проекта. Здесь следует указать, как вас зовут, чем вы занимаетесь, какими технологиями разработки владеете.
          </p>
          <p class="about-container__subtitle">
            Также можно рассказать о процессе обучения в Практикуме, чему вы тут научились, и чем можете помочь потенциальным заказчикам.
          </p>
        </div>
      </div>

    </div>

    <!-- Футер -->
    <div class="footer">
      <p class="footer__title">
        &copy; 2020 Supersite, Powered by News API
      </p>
      <div class="footer__links">

        <div class="footer__links-wrapper">
          <a href="./index.html" class="footer__link footer__link_general-margin">Главная</a>
          <a href="https://praktikum.yandex.ru/" class="footer__link footer__link_general-margin">Яндекс.Практикум</a>
        </div>

        <div class="footer__icon-wrapper">
          <a href="https://www.github.com" class="footer__link footer__link_larger-margin">
            <img src="<%=require('../images/git.svg')%>" alt="github">
          </a>
          <a href="https://www.facebook.com" class="footer__link footer__link_general-margin">
            <img src="<%=require('../images/fb.svg')%>" alt="facebook" >
          </a>
        </div>

      </div>
    </div>

    <!-- Основной скрипт -->
    <script src='<%= htmlWebpackPlugin.files.js %>'></script>

  </body>

  </html>
