@import url(../blocks/header/header.css);
@import url(../blocks/menu/menu.css);
@import url(../blocks/header-container/header-container.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/cards-container/cards-container.css);
@import url(../blocks/card/card.css);
@import url(../blocks/circle-preloader/circle-preloader.css);
@import url(../blocks/preloader-container/preloader-container.css);
@import url(../blocks/not-found-container/not-found-container.css);
@import url(../blocks/save-checkbox/save-checkbox.css);
@import url(../blocks/articles-info/articles-info.css);
@import url(../blocks/mobile-header/mobile-header.css);
@import url(../blocks/mobile-menu/mobile-menu.css);

@font-face {
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
    font-family: "Roboto";
}

@font-face {
    src: url(../fonts/Roboto/Roboto-Medium.ttf);
    font-family: "Roboto";
    font-weight: 500;
}

@font-face {
    src: url(../fonts/RobotoSlab/static/RobotoSlab-Regular.ttf);
    font-family: "Roboto Slab";
}

@font-face {
    src: url(../fonts/RobotoSlab/static/RobotoSlab-Bold.ttf);
    font-family: "Roboto Slab";
    font-weight: bold;
}

@font-face {
    src: url(../fonts/Inter/Inter-Regular.woff2);
    font-family: "Inter";
}

@font-face {
    src: url(../fonts/SourceSansPro/SourceSansPro-Regular.ttf);
    font-family: "Source Sans Pro";
}



body {
    margin: 0;
    font-family: "Roboto";
    width: 100%;
}
