.mobile-menu__button {
    background: none;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    line-height: 56px;
    text-align: start;
    border: none;
    height: 66px;
    text-decoration: none;
}
