.about-container__image-wrapper {
    width: calc(100%/3);
    margin: auto 0;
}

@media screen and (max-width: 560px) {
    .about-container__image-wrapper {
        width: 80%;
        margin-bottom: 20px;
    }
}

@media screen and (max-width:320px) {
  .about-container__image-wrapper {
      margin-bottom: 24px;
  }
}
