@import url(./__title/header__title.css);
@import url(./_white/header_white.css);
@import url(./_black/header_black.css);

.header {
    width: 100%;
    max-height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 calc(100%/14);
    box-sizing: border-box;
}