.card__source {
    color: #B6BCBF;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    font-family: "Roboto Slab";
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    margin: 0 24px 16px;
}